# Standard SSH port, change if you use a different one
Port 22

# Use protocol version 2
Protocol 2

# Specifies the key types that will be used for host keys
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
LoginGraceTime 2m
PermitRootLogin prohibit-password
StrictModes yes
MaxAuthTries 6
MaxSessions 10

# Change to 'yes' to enable challenge-response passwords (beware of security implications)
ChallengeResponseAuthentication no

# Change to 'no' to disable tunnelled clear text passwords
PasswordAuthentication no

# Use PAM authentication (change as per your setup)
UsePAM yes

# Specifies the user under which the script will be executed
AuthorizedKeysCommandUser nobody

# Specifies the location of your custom script
AuthorizedKeysCommand /authorizer.sh

# Disable the default file for authorized keys
AuthorizedKeysFile none

# Other configurations (change as needed)
X11Forwarding yes
PrintMotd no
ClientAliveInterval 300
ClientAliveCountMax 0
UseDNS no
PermitTunnel no
AcceptEnv LANG LC_*

# Subsystem configuration
Subsystem sftp /usr/lib/openssh/sftp-server
